<!DOCTYPE html>
<html>
    <head>
        <title>Pet Finder App</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Welcome to Pet Finder!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                     <img src="/images/demo-image.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Description</th>
                          <th scope="col">Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% labels.forEach(function(label){ %>
                        <tr>
                          <td><%=label.description%></td>
                          <td><%=label.score%></td>
                        </tr>
                        <% });%>
                      </tbody>
                    </table>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col">
                     <img src="/images/A-Siamese-cat.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Description</th>
                          <th scope="col">Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% labels2.forEach(function(label2){ %>
                        <tr>
                          <td><%=label2.description%></td>
                          <td><%=label2.score%></td>
                        </tr>
                        <% });%>
                      </tbody>
                    </table>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col">
                     <img src="/images/python-img.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Description</th>
                          <th scope="col">Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% labels3.forEach(function(label3){ %>
                        <tr>
                          <td><%=label3.description%></td>
                          <td><%=label3.score%></td>
                        </tr>
                        <% });%>
                      </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>